{% extends 'base.html' %} {% load static %} {% block 'title'%}Projetos{%endblock%} {% block 'head' %}
<link rel="stylesheet" href="{% static 'css/full-style.css' %}" />
{% endblock %} {% block 'subtitle' %}
<div class="row d-flex justify-content-center align-items-center mb-3">
  Equipamentos de Radiocomunicação
</div>
{% endblock %} {% block 'content' %} {% if messages %} {% for message in messages %}
<div class="alert {{message.tags}} stilo-message">{{message}}</div>
{% endfor %} {% endif %}
<div class="card">
  <div class="card-body">
    <div class="row d-flex flex-row justify-content-between align-items-center">
      <div class="col-md-6">
        <h5 class="card-title w-20">Configurações</h5>
      </div>
      <div class="col-md-6 d-flex justify-content-end align-items-center">
        <button class="btn btn-success w-20 fw-bold">Salvar alterações</button>
      </div>
    </div>
    <!-- Default Tabs -->
    <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
      <li class="nav-item flex-fill" role="presentation">
        <button
          class="nav-link w-100 active"
          id="andamento-tab"
          data-bs-toggle="tab"
          data-bs-target="#andamento-justified"
          type="button"
          role="tab"
          aria-controls="andamento"
          aria-selected="true"
        >
          Andamento
        </button>
      </li>
      <li class="nav-item flex-fill" role="presentation">
        <button
          class="nav-link w-100"
          id="documentos-tab"
          data-bs-toggle="tab"
          data-bs-target="#documentos-justified"
          type="button"
          role="tab"
          aria-controls="documentos"
          aria-selected="false"
        >
          Documentos
        </button>
      </li>
      <li class="nav-item flex-fill" role="presentation">
        <button
          class="nav-link w-100"
          id="equipamentos-tab"
          data-bs-toggle="tab"
          data-bs-target="#equipamentos-justified"
          type="button"
          role="tab"
          aria-controls="equipamentos"
          aria-selected="false"
        >
          Equipamentos/Serviços
        </button>
      </li>
      <li class="nav-item flex-fill" role="presentation">
        <button
          class="nav-link w-100"
          id="cronograma-tab"
          data-bs-toggle="tab"
          data-bs-target="#cronograma-justified"
          type="button"
          role="tab"
          aria-controls="cronograma"
          aria-selected="false"
        >
          Cronograma
        </button>
      </li>
      <li class="nav-item flex-fill" role="presentation">
        <button
          class="nav-link w-100"
          id="observacoes-tab"
          data-bs-toggle="tab"
          data-bs-target="#observacoes-justified"
          type="button"
          role="tab"
          aria-controls="observacoes"
          aria-selected="false"
        >
          Observações
        </button>
      </li>
    </ul>
    <div class="tab-content pt-2" id="myTabjustifiedContent">
      <div
        class="tab-pane fade show active"
        id="andamento-justified"
        role="tabpanel"
        aria-labelledby="andamento-tab"
      >
        <!--Inicio Conteudo-->
        <div class="row align-items-top">
          <div class="col">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">
                  TITULO
                  <span>| Escolha um titulo para identificar seu pacote</span>
                </h5>
                <div class="d-flex align-items-center">
                  <input
                    type="text"
                    class="form-control mb-0 changeble-item"
                    placeholder=""
                    aria-label="Local"
                    aria-describedby="basic-addon1"
                    id="inputTitlePacote"
                    name="inputTitlePacote"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-top">
          <!-- Status Card -->
          <div class="col-xxl-6 col-md-6">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">
                  FASE <span>| Informe o andamento do projeto</span>
                </h5>
                <div class="d-flex align-items-center">
                  <select
                    class="form-select changeble-item"
                    aria-label="Default select example"
                    id="selectStatusNew_edit"
                    name="selectStatusNew_edit"
                  >
                    <option selected disabled>
                      Escolha o Status do projeto
                    </option>
                    <option value="PJ">Planejamento</option>
                    <option value="RP">RP em andamento</option>
                    <option value="PG">PG em andamento</option>
                    <option value="EMP">Empenhado</option>
                    <option value="AGE">Aguardando entrega</option>
                    <option value="ENT">Entregue</option>
                    <option value="INS">Instalado</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- End Status Card -->
          <!-- Fase Card -->
          <div class="col-xxl-6 col-md-6">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">
                  ESPECIFICA
                  <span
                    >| Especifique a fase caso tenha escolhido RP ou PG</span
                  >
                </h5>
                <div class="d-flex align-items-center">
                  <select
                    class="form-select changeble-item"
                    id="selectnewrp_edit"
                    name="selectnewrp_edit"
                    aria-label="Default select example"
                  >
                    <option selected disabled value="">
                      Escolha a fase do RP
                    </option>
                    <option value="rp-etp">Elaboração do ETP</option>
                    <option value="rp-orcamentos">
                      Obtenção de Orçamentos
                    </option>
                    <option value="rp-precos">Mapa de Preços</option>
                    <option value="rp-autorizacao-dlf">
                      Pedido de autorização DLF
                    </option>
                    <option value="rp-gestao">
                      Solicitação de Gestão de RP
                    </option>
                    <option value="rp-minuta">
                      Elaboração Minuta do Termo de Referência
                    </option>
                    <option value="rp-correcao-minuta">
                      Correção Minuta do Termo de Referência (ASSJUR)
                    </option>
                    <option value="rp-correcao-etp">
                      Correção ETP (ASSJUR)
                    </option>
                    <option value="rp-formulario-adesao">
                      Formulário de Adesão
                    </option>
                    <option value="rp-encaminhado-gol">
                      Encaminhado a Gol
                    </option>
                    <option value="rp-impugnacao">
                      Respondendo impugnação
                    </option>
                    <option value="rp-resposta-documentacao">
                      Resposta a documentação
                    </option>
                  </select>
                  <select
                    class="form-select changeble-item"
                    id="selectnewpg_edit"
                    name="selectnewpg_edit"
                    aria-label="Default select example"
                  >
                    <option selected disabled value="">
                      Escolha a fase do PG
                    </option>
                    <option value="pg-autorizacao-dlf">
                      Pedido de autorização DLF
                    </option>
                    <option value="pg-etp">Elaboração do ETP</option>
                    <option value="pg-orcamentos">
                      Obtenção de Orçamentos
                    </option>
                    <option value="pg-precos">Mapa de Preços</option>
                    <option value="pg-minuta">
                      Elaboração Minuta do Termo de Referência
                    </option>
                    <option value="pg-extrato">Extrato de Crédito</option>
                    <option value="pg-correcao-minuta">
                      Correção Minuta do Termo de Referência (ASSJUR)
                    </option>
                    <option value="pg-correcao-etp">
                      Correção ETP (ASSJUR)
                    </option>
                  </select>
                  <div
                    id="terceiros_edit"
                    class="fw-bold text-primary h5"
                    name="terceiros_edit"
                  >
                    terceiros
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-top">
          <!-- Natureza Card -->
          <div class="col-xxl-6 col-md-6">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">
                  Etiqueta
                  <span>| Classifique a Etiqueta do projeto</span>
                </h5>
                <div class="d-flex align-items-center">
                  <select
                    class="form-select changeble-item"
                    aria-label="Default select example"
                    id="selectEtiquetaNew"
                    name="selectEtiquetaNew"
                  >
                    <option selected disabled>
                      Escolha a Etiqueta projeto
                    </option>
                    <option value="radio">Radiocomunicação</option>
                    <option value="telefonia">Telefonia</option>
                    <option value="audioevideo">Audio e video</option>
                    <option value="outros">Outros</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- TIPO Card -->
          <div class="col-xxl-6 col-md-6">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">
                  NATUREZA
                  <span>| Natureza a ser fornecido se material ou serviço</span>
                </h5>
                <div class="d-flex align-items-center">
                  <select
                    class="form-select changeble-item"
                    aria-label="Default select example"
                    id="selectNaturezaNew"
                    name="selectNaturezaNew"
                  >
                    <option selected disabled>Escolha o Tipo</option>
                    <option value="material">Material</option>
                    <option value="servico">Serviço</option>
                    <option value="materialservico">Material/Serviço</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Fim Conteudo-->
      </div>
      <div
        class="tab-pane fade"
        id="documentos-justified"
        role="tabpanel"
        aria-labelledby="documentos-tab"
      >
        <!--Inicio Conteudo-->
        <div class="row align-items-top">
          <!-- CONTRATO Card -->
          <div class="col-xxl-4 col-md-4">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">
                  CONTRATO <span>| Nº do Contrato do Pacote</span>
                </h5>
                <div class="d-flex align-items-center">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Nº</span>
                    <input
                      type="text"
                      class="form-control mb-0 changeble-item"
                      placeholder="Contrato"
                      aria-label="Local"
                      aria-describedby="basic-addon1"
                      id="inputContratoNew_edit"
                      name="inputContratoNew_edit"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End CONTRATO Card -->
          <!-- DATA INICIO Card -->
          <div class="col-xxl-4 col-md-4">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">
                  DATA INICIAL <span>| Início da Vigência</span>
                </h5>
                <div class="d-flex align-items-center">
                  <div class="mb-3">
                    <input
                      type="date"
                      class="form-control changeble-item"
                      id="dateInitialInput_edit"
                      name="dateInitialInput_edit"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End DATA INICIO Card -->
          <!-- DATA FINAL Card -->
          <div class="col-xxl-4 col-md-4">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">
                  DATA FINAL <span>| Início da Vigência</span>
                </h5>
                <div class="d-flex align-items-center">
                  <div class="mb-3">
                    <input
                      type="date"
                      class="form-control changeble-item"
                      id="dateFinalInput_edit"
                      name="dateFinalInput_edit"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End DATA FINAL Card -->
          <!-- LOCALIZADO Card -->
          <div class="col-xxl-6 col-md-6">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">
                  SEI <span>| Numero de documento referência</span>
                </h5>
                <div class="d-flex flex-column align-items-center">
                  <div class="input-group mb-3">
                    <button
                      class="btn btn-primary fw-bold"
                      type="button"
                      id="button-addon1-new_edit"
                    >
                      +
                    </button>
                    <input
                      type="text"
                      class="form-control"
                      id="inputText-new"
                      placeholder=""
                      aria-label="Example text with button addon"
                      aria-describedby="button-addon1-new_edit"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End LOCALIZADO Card -->
          <!-- LOCALIZADO Card -->
          <div class="col-xxl-6 col-md-6">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center">
                  <div
                    class="list-container d-flex flex-column justify-content-around w-100 changeble-item"
                    id="listContainer-new"
                    style="height: 8.8em; overflow-y: auto"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <!-- input que deve ser escontido -->
          <input
            type="text"
            class="form-control changeble-item"
            name="hiddensei_edit"
            id="hiddensei_edit"
            value=""
          />
          <!-- End LOCALIZADO Card -->
        </div>
        <!--Fim Conteudo-->
      </div>

      <div
        class="tab-pane fade"
        id="equipamentos-justified"
        role="tabpanel"
        aria-labelledby="equipamentos-tab"
      >
        <div class="row align-items-top">
          <div class="row align-items-top">
            <!--Inicio Conteudo-->
            <div class="col-xxl-6 col-md-6">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">
                    Categoria
                    <span>| Selecione a categoria desejada</span>
                  </h5>
                  <div class="d-flex align-items-center">
                    <select
                      class="form-select changeble-item"
                      aria-label="Default select example"
                      id="selectCategoria"
                      name="selectCategoria"
                    >
                      <option selected disabled>Escolha a categoria</option>
                      <option value="equipamento">Equipamento</option>
                      <option value="servico">Serviço</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-6 col-md-6">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">
                    SELECIONAR
                    <span>| Selecione o equipamento/serviço na lista</span>
                  </h5>
                  <div class="d-flex align-items-center">
                    <select
                      class="form-select changeble-item"
                      aria-label="Default select example"
                      id="selectEquip"
                      name="selectEquip"
                    >
                      <option selected disabled>
                        Escolha o equipamento/serviço
                      </option>
                      {% for equipamento in equipamentos %}
                      <option value="{{equipamento.id}}-{{equipamento.classe}}">
                        {{equipamento.titulo}}
                      </option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-12 col-md-12">
              <div class="line-container">
                <div class="line"></div>
                <span
                  class="span-line"
                  style="font-size: 14px; font-weight: normal"
                  >Não encontrou o equipamento/serviço?</span
                >
                <div class="line"></div>
              </div>
            </div>
            <div class="col-xxl-12 col-md-12">
              <div class="d-flex justify-content-center align-items-center">
                <button
                  type="button"
                  class="btn btn-primary fw-bold w-50 p-2 my-2"
                  data-bs-toggle="modal"
                  data-bs-target="#modalCreateEquip"
                >
                  Criar Novo Equipamento/Serviço
                </button>
              </div>
            </div>
            <!--Fim Conteudo-->
          </div>

          <div class="row align-items-top">
            <div class="col-xxl-4 col-md-4">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">
                    LOCAL
                    <span>| Local onde o equipamento se encontra</span>
                  </h5>
                  <div class="d-flex flex-column align-items-center">
                    <div class="input-group mb-3">
                      <button
                        class="btn btn-primary fw-bold"
                        type="button"
                        id="button-addon1-new"
                      ></button>
                      <input
                        type="text"
                        class="form-control changeble-item"
                        id="inputLocnew"
                        placeholder=""
                        aria-label="Example text with button addon"
                        aria-describedby="button-addon1-new"
                        value=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-4 col-md-4">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">
                    DESTINO <span>| Para onde será destinado</span>
                  </h5>
                  <div class="d-flex flex-column align-items-center">
                    <div class="input-group mb-3">
                      <button
                        class="btn btn-primary fw-bold"
                        type="button"
                        id="button-addon1-new"
                      ></button>
                      <input
                        type="text"
                        class="form-control changeble-item"
                        id="inputDestnew"
                        placeholder=""
                        aria-label="Example text with button addon"
                        aria-describedby="button-addon1-new"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-4 col-md-4">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">
                    QUANTIDADE <span>| Equpamentos para mesmo destino</span>
                  </h5>
                  <div class="d-flex flex-column align-items-center">
                    <div class="input-group mb-3">
                      <button
                        class="btn btn-primary fw-bold"
                        type="button"
                        id="button-addon1-new"
                      ></button>
                      <input
                        type="number"
                        class="form-control changeble-item"
                        id="inputQtnew"
                        placeholder=""
                        aria-label="Example text with button addon"
                        aria-describedby="button-addon1-new"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-top">
            <!--Inicio Conteudo-->
            <div class="col-xxl-12 col-md-12">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">
                    VALORES
                    <span>| Valores obtidos para calculo de preço</span>
                  </h5>
                  <div class="d-flex flex-column align-items-center">
                    <!--MAIN CONTENT-->
                    <div class="row w-100">
                      <div class="col-md-4">
                        <label for="val1Item" class="form-label text-primary"
                          >Valor 1</label
                        >
                        <input
                          type="text"
                          id="val1Item"
                          class="form-control changeble-item"
                          name="val1Item"
                          oninput="formatToCurrency(this)"
                          onchange="calcMedia()"
                        />
                      </div>
                      <div class="col-md-4">
                        <label for="val2Item" class="form-label text-primary"
                          >Valor 2</label
                        >
                        <input
                          type="text"
                          id="val2Item"
                          class="form-control changeble-item"
                          name="val2Item"
                          oninput="formatToCurrency(this)"
                          onchange="calcMedia()"
                        />
                      </div>
                      <div class="col-md-4">
                        <label for="val3Item" class="form-label text-primary"
                          >Valor 3</label
                        >
                        <input
                          type="text"
                          id="val3Item"
                          class="form-control changeble-item"
                          name="val3Item"
                          oninput="formatToCurrency(this)"
                          onchange="calcMedia()"
                        />
                      </div>
                    </div>
                    <div class="row w-100 mt-4">
                      <div class="col-md-6">
                        <label for="valMedItem" class="form-label text-primary"
                          >Valor Media</label
                        >
                        <input
                          type="text"
                          id="valMedItem"
                          class="form-control changeble-item"
                          name="valMedItem"
                          oninput="formatToCurrency(this)"
                        />
                      </div>
                      <div class="col-md-6">
                        <label for="valMedItem" class="form-label text-primary"
                          >Valor Portal</label
                        >
                        <div class="form-check form-switch">
                          <input
                            class="form-check-input changeble-item"
                            type="checkbox"
                            id="flexSwitchCheckDefault"
                          />
                          <label
                            class="form-check-label"
                            for="flexSwitchCheckDefault"
                            >Usar valor padrão do portal </label
                          ><br /><label id="equipamentoValorPortal"
                            >Valor:
                          </label>
                        </div>
                      </div>
                    </div>
                    <!--MAIN CONTENT-->
                  </div>
                </div>
              </div>
            </div>
            <!--Fim Conteudo-->
          </div>
          <div class="row align-items-top">
            <!--Inicio Conteudo-->
            <div class="col-xxl-12 col-md-12">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">
                    STATUS
                    <span>| Status das entregas dos equipamentos</span>
                  </h5>
                  <div class="d-flex align-items-center">
                    <!--MAIN CONTENT-->
                    <div class="row w-50">
                      <div class="col-12">
                        <select
                          class="form-select changeble-item"
                          aria-label="Default"
                          id="statusItem"
                          name="statusItem"
                          required
                        >
                          <option selected disabled>Status do item</option>
                          <option value="demanda">Demanda</option>
                          <option value="licitacao">Licitacao</option>
                          <option value="aentregar">A entregar</option>
                          <option value="entregue">Entregue</option>
                          <option value="ainstalar">A instalar</option>
                          <option value="instalado">Instalado</option>
                        </select>
                      </div>
                    </div>
                    <!--MAIN CONTENT-->
                  </div>
                </div>
              </div>
            </div>

            <!--Fim Conteudo-->
          </div>
          <div class="row align-items-top">
            <!--Inicio Conteudo-->
            <div class="col-xxl-12 col-md-12">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">
                    DATAS
                    <span>| Datas relevantes no andamento do projeto</span>
                  </h5>
                  <div class="d-flex align-items-center">
                    <!--MAIN CONTENT-->
                    <div class="row w-100">
                      <div class="col-md-6">
                        <label
                          for="dateEntEquip"
                          class="form-label text-primary"
                          >Entrega</label
                        >
                        <input
                          type="date"
                          class="form-control changeble-item"
                          id="dateEntEquip"
                          name="dateEntEquip"
                        />
                      </div>
                      <div class="col-md-6">
                        <label
                          for="dateInsEquip"
                          class="form-label text-primary"
                          >Instalação</label
                        >
                        <input
                          type="date"
                          class="form-control changeble-item"
                          id="dateInsEquip"
                          name="dateInsEquip"
                        />
                      </div>
                    </div>
                    <!--MAIN CONTENT-->
                  </div>
                </div>
              </div>
            </div>
            <!--Fim Conteudo-->
          </div>
          <div class="row align-items-top">
            <!--Inicio Conteudo-->
            <div class="col-xxl-12 col-md-12">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">
                    OBSERVAÇÕES
                    <span>| Observações relevantes ao pacote</span>
                  </h5>
                  <div class="d-flex align-items-center">
                    <!--MAIN CONTENT-->
                    <div class="row w-100">
                      <div class="col-md-12">
                        <label for="obsItem" class="form-label text-primary"
                          >Observações</label
                        >
                        <textarea
                          class="form-control changeble-item"
                          style="height: 130px; font-size: 0.8em"
                          id="obsItem"
                          name="obsItem"
                        ></textarea>
                      </div>
                    </div>
                    <!--MAIN CONTENT-->
                  </div>
                </div>
              </div>
            </div>
            <!--Fim Conteudo-->
          </div>
          <div class="row align-items-center">
            <div
              class="col-xxl-12 col-md-12 w-80 d-flex justify-content-center align-items-center"
            >
              <button
                type="button"
                class="btn btn-success fw-bold mb-4"
                onclick="insereRowTable()"
              >
                Adicionar Equipamento
              </button>
            </div>
          </div>
          <!-- Inicio Colunas -->
          <div class="row align-items-top">
            <div class="col-xxl-12 col-md-12">
              <div class="line-container">
                <div class="line"></div>
                <span class="span-line">Equipamentos</span>
                <div class="line"></div>
              </div>
            </div>
            <div class="col-xxl-12 col-md-12">
              <div class="card">
                <div class="card-body">
                  <!-- Tabela de Equipamentos -->
                  <table
                    id="main-table"
                    class="table table-striped table-sm table-dot"
                  >
                    <thead>
                      <tr>
                        <th scope="col" class="rot-info rot-sm">Titulo</th>
                        <th scope="col" class="rot-info rot-sm ocultar">Di</th>
                        <th scope="col" class="rot-info rot-sm">Classe</th>
                        <th scope="col" class="rot-info rot-sm">Tipo</th>
                        <th scope="col" class="rot-info rot-sm">Status</th>
                        <th scope="col" class="rot-info rot-sm ocultar">
                          Val1
                        </th>
                        <th scope="col" class="rot-info rot-sm ocultar">
                          Val2
                        </th>
                        <th scope="col" class="rot-info rot-sm ocultar">
                          Val3
                        </th>
                        <th scope="col" class="rot-info rot-sm ocultar">
                          Val Media
                        </th>
                        <th scope="col" class="rot-info rot-sm ocultar">
                          BolValor
                        </th>
                        <th scope="col" class="rot-info rot-sm">Valor</th>
                        <th scope="col" class="rot-info rot-sm">Qtd Un</th>
                        <th scope="col" class="rot-info rot-sm">Qtd Total</th>
                        <th scope="col" class="rot-info rot-sm ocultar">
                          Local
                        </th>
                        <th scope="col" class="rot-info rot-sm ocultar">
                          Dt Ent
                        </th>
                        <th scope="col" class="rot-info rot-sm ocultar">
                          Dt Inst
                        </th>
                        <th scope="col" class="rot-info rot-sm ocultar">Obs</th>
                        <th scope="col" class="rot-info rot-sm">Destino</th>
                        <th scope="col" class="rot-info rot-sm">Ações</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                  <!-- End Table with stripped rows -->
                </div>
              </div>
            </div>
          </div>
          <input
            type="text"
            class="form-control"
            name="hiddenequipser"
            id="hiddenequipser"
            value=""
          />
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="cronograma-justified"
        role="tabpanel"
        aria-labelledby="cronograma-tab"
      >
        <div class="row align-items-top">
          <div class="col-xxl-12 col-md-12">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">
                  TITULO
                  <span>| Identificação de seu cronograma</span>
                </h5>
                <div class="d-flex flex-column align-items-center">
                  <div class="input-group mb-3">
                    <button
                      class="btn btn-primary fw-bold"
                      type="button"
                      id="button-addon1-new"
                    ></button>
                    <input
                      type="text"
                      class="form-control changeble-item"
                      id="inputTitleCron"
                      name="inputTitleCron"
                      placeholder=""
                      aria-label="Example text with button addon"
                      aria-describedby="button-addon1-new"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-top">
          <!--Inicio Conteudo-->
          <div class="col-xxl-12 col-md-12">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">
                  DESCRIÇÃO
                  <span>| Faça uma breve descrição do cronograma</span>
                </h5>
                <div class="d-flex align-items-center">
                  <!--MAIN CONTENT-->
                  <div class="row w-100">
                    <div class="col-md-12">
                      <textarea
                        class="form-control changeble-item"
                        style="height: 130px; font-size: 0.8em"
                        id="desCron"
                        name="desCron"
                      ></textarea>
                    </div>
                  </div>
                  <!--MAIN CONTENT-->
                </div>
              </div>
            </div>
          </div>
          <!--Fim Conteudo-->
        </div>
        <div class="row align-items-top">
          <!--Inicio Conteudo-->
          <div class="col-xxl-12 col-md-12">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">
                  Observações
                  <span>| Observações relevantes ao projeto</span>
                </h5>
                <div class="d-flex align-items-center">
                  <!--MAIN CONTENT-->
                  <div class="row w-100">
                    <div class="col-md-12">
                      <textarea
                        class="form-control changeble-item"
                        style="height: 130px; font-size: 0.8em"
                        id="obsCron"
                        name="obsCron"
                      ></textarea>
                    </div>
                  </div>
                  <!--MAIN CONTENT-->
                </div>
              </div>
            </div>
          </div>
          <!--Fim Conteudo-->
        </div>
        <div class="row align-items-center">
          <div
            class="col-xxl-12 col-md-12 w-80 d-flex justify-content-center align-items-center"
          >
            <button
              type="button"
              class="btn btn-success fw-bold mb-4"
              data-bs-toggle="modal"
              data-bs-target="#modalAddTask"
            >
              Adicionar Tarefas
            </button>
          </div>
        </div>
        <!-- Inicio Colunas -->
        <div class="row align-items-top">
          <div class="col-xxl-12 col-md-12">
            <div class="line-container">
              <div class="line"></div>
              <span class="span-line">Tarefas</span>
              <div class="line"></div>
            </div>
          </div>
          <div class="col-xxl-12 col-md-12">
            <div class="card">
              <div class="card-body">
                <!-- Table with stripped rows -->
                <table
                  id="listTaskTable"
                  class="table table-striped table-sm table-dot"
                >
                  <thead>
                    <tr>
                      <th scope="col" class="rot-info rot-sm">Tarefa</th>
                      <th scope="col" class="rot-info rot-sm ocultar">
                        Descrição
                      </th>
                      <th scope="col" class="rot-info rot-sm">Status</th>
                      <th scope="col" class="rot-info rot-sm">Prioridade</th>
                      <th scope="col" class="rot-info rot-sm ocultar">
                        Início P
                      </th>
                      <th scope="col" class="rot-info rot-sm ocultar">Fim P</th>
                      <th scope="col" class="rot-info rot-sm ocultar">
                        Inicio R
                      </th>
                      <th scope="col" class="rot-info rot-sm ocultar">Fim R</th>
                      <th scope="col" class="rot-info rot-sm">Inicio</th>
                      <th scope="col" class="rot-info rot-sm">Fim</th>
                      <th scope="col" class="rot-info rot-sm">Duração(dias)</th>
                      <th scope="col" class="rot-info rot-sm ocultar">
                        Observações
                      </th>
                      <th scope="col" class="rot-info rot-sm">Ações</th>
                    </tr>
                  </thead>
                  <tbody class="changeble-item"></tbody>
                </table>
                <!-- End Table with stripped rows -->
              </div>
            </div>
          </div>
        </div>
        <input
          type="text"
          class="form-control changeble-item"
          name="hiddentasks"
          id="hiddentasks"
          value=""
        />
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="observacoes-justified"
      role="tabpanel"
      aria-labelledby="observacoes-tab"
    >
      <!--Inicio do formulário Observaçoes-->
      <div class="row align-items-top">
        <!--Inicio Conteudo-->
        <div class="col-xxl-12 col-md-12">
          <div class="card info-card revenue-card">
            <div class="card-body">
              <h5 class="card-title">
                DESCRIÇÃO
                <span>| Faça uma breve descrição da sua observação ou pendencia</span>
              </h5>
              <div class="d-flex align-items-center">
                <!--MAIN CONTENT-->
                <div class="row w-100">
                  <div class="col-md-12">
                    <textarea
                      class="form-control changeble-item"
                      style="height: 130px; font-size: 0.8em"
                      id="descObsPen"
                      name="descObsPen"
                    ></textarea>
                  </div>
                </div>
                <!--MAIN CONTENT-->
              </div>
            </div>
          </div>
        </div>
        <!--Fim Conteudo-->
      </div>
      <div class="row align-items-top">
        <!--Inicio Conteudo-->
        <div class="col-xxl-6 col-md-6">
          <div class="card info-card revenue-card">
            <div class="card-body">
              <h5 class="card-title">
                CATEGORIA
                <span>| Selecione a categoria do registro</span>
              </h5>
              <div class="d-flex align-items-center">
                <select
                  class="form-select changeble-item"
                  aria-label="Default select example"
                  id="selectCategoriaObsPen"
                >
                  <option selected disabled>Escolha a categoria</option>
                  <option value="pendencia">Pendência</option>
                  <option value="observacao">Observação</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-6 col-md-6">
          <div class="card info-card revenue-card">
            <div class="card-body">
              <h5 class="card-title">
                DATA
                <span>| Informe a data ou pendencia da reclamação</span>
              </h5>
              <div class="d-flex align-items-center">
                <input type="date" class="form-control changeble-item" id="dateObsPen" name="dateObsPen" />
              </div>
            </div>
          </div>
        </div>
        <!--Fim Conteudo-->
      </div>
      <div class="row align-items-center">
        <div
          class="col-xxl-12 col-md-12 w-80 d-flex justify-content-center align-items-center"
        >
          <button
            type="button"
            class="btn btn-success fw-bold mb-4"
            onclick="insereObsPen()"
          >
            Adicionar Observação/Pendencia
          </button>
        </div>
      </div>
      <!-- Inicio Colunas -->
      <div class="row align-items-top">
        <div class="col-xxl-12 col-md-12">
          <div class="line-container">
            <div class="line"></div>
            <span class="span-line">Tarefas</span>
            <div class="line"></div>
          </div>
        </div>
        <div class="col-xxl-12 col-md-12">
          <div class="card">
            <div class="card-body">
              <!-- Table with stripped rows -->
              <table id="listObsPenTable" class="table table-striped table-sm table-dot">
                <thead>
                  <tr>
                    <th scope="col" class="rot-info rot-sm">Descrição</th>
                    <th scope="col" class="rot-info rot-sm">Categoria</th>
                    <th scope="col" class="rot-info rot-sm">Data</th>
                    <th scope="col" class="rot-info rot-sm">Ações</th>
                  </tr>
                </thead>
                <tbody class="changeble-item">

                </tbody>
              </table>
              <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
      <input
      type="text"
      class="form-control changeble-item"
      name="hiddenobspend"
      id="hiddenobspend"
      value=""
    />
      <!--Fim do formulário Observaçoes-->

    </div>
  </div>
</div>
{% endblock %} 
