{% extends 'base.html' %} {% load static %} {% load filters %}{% block 'title'%}Projetos{%endblock%} {% block 'head' %}
<link rel="stylesheet" href="{% static 'css/full-style.css' %}" />
{% endblock %} {% block 'subtitle' %}Painel de Projetos{% endblock %} {% block 'content' %}
{% if messages %} {% for message in messages %}
<div class="alert {{message.tags}} stilo-message">{{message}}</div>
{% endfor %} {% endif %}
<div class="card">
  <div class="card-body mt-4">
    <!-- Default Tabs -->

    <div class="tab-content pt-2" id="myTabjustifiedContent">
      <div
        class="tab-pane fade show active"
        id="receita-justified"
        role="tabpanel"
        aria-labelledby="receita-tab"
      >
        <div class="card">
          <div class="card-body">
            <div class="row d-flex flex-row mb-2 align-items-center">
              <div class="col-md-9 col-6">
                <a
                  href="{% url 'newprojectrecet' %}"
                  class="btn btn-success fw-bold mt-2 mx-4 p-2"
                  >Novo Projeto</a
                >
              </div>
              <div class="col-md-2 col-6">
                <select
                  class="form-select form-select-sm mx-4"
                  aria-label=".form-select-sm example"
                >
                  <option selected>2023</option>
                  <option value="1">2022</option>
                  <option value="2">2021</option>
                  <option value="3">2020</option>
                </select>
              </div>
            </div>
            <div class="row">
              {% for projeto in projetos %}
              <div class="col-md-3">
                <!-- Card with header and footer -->
                <div class="card">
                  <div class="card-header">
                    <h5 class="font-weight-bold text-center title-projeto">
                      <a href="{% url 'project' projeto.id %}"
                        >{{projeto.titulo}}</a
                      >
                    </h5>
                  </div>
                  <div class="card-body body-projeto">
                    <p class="card-text">
                      <span>Descrição:</span> {{projeto.descricao|truncatechars:50 }}
                    </p>
                    <p><span>Data:</span> {{projeto.created_at|formatdate}}</p>
                    <p><span>Valor:</span> {{projeto.id|value_projeto}}</p>

                    {% if projeto.etiqueta == 'radio' %}
                    <div class="card-footer text-primary text-uppercase">
                      {{projeto.etiqueta}}
                      <i class="ri-price-tag-3-fill"></i>
                    </div>
                    {% elif projeto.etiqueta == 'telefonia' %}
                    <div class="card-footer text-success text-uppercase">
                      {{projeto.etiqueta}}
                      <i class="ri-phone-fill"></i>
                    </div>
                    {% elif projeto.etiqueta == 'audioevideo' %}
                    <div class="card-footer text-danger text-uppercase">
                      {{projeto.etiqueta}}
                      <i class="ri-live-fill"></i>                    
                    </div>
                    {% elif projeto.etiqueta == 'outros' %}
                    <div class="card-footer text-warning text-uppercase">
                      {{projeto.etiqueta}}
                      <i class="ri-file-list-fill"></i>
                    </div>
                    {% else %}
                    <div class="card-footer text-info text-uppercase">
                      {{projeto.etiqueta}}
                      <i class="ri-question-fill"></i>
                    {% endif %}
                  </div>
                  <!-- End Card with header and footer -->
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Default Tabs -->
  </div>
</div>

{% endblock %}
